.wrapper {
    @apply w-full h-screen bg-gradient-to-r from-pink-500 to-blue-500 background-animate;
}

.wrapperLabel {
    /* @apply grid h-screen place-items-center; */
}

.lb {
    @apply text-white text-lg text-center text-4xl tracking-wider;
}

.name {
    @apply mt-5;
}

.background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 6s cubic-bezier(0.4, 0.6, 0.8, 1) infinite;
    -moz-animation: AnimationName 6s cubic-bezier(0.4, 0.6, 0.8, 1) infinite;
    animation: AnimationName 6s cubic-bezier(0.4, 0.6, 0.8, 1) infinite;
}

@keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
}